{% extends "layout/base.html" %}

{% block 'title' %}Add User{% endblock 'title' %}

{% block 'content' %}
{% include "include/sidebar.html" %}
{% include "include/ToastMessage.html" %}

<div class="min-h-screen bg-[#A6A6B3] p-1">
    <div class=" p-0.5 sm:ml-64 mt-16 md:mt-14">
        <div class="mx-auto bg-white shadow-md rounded-lg w-full md:w-[97%]">
            <div class="flex items-center justify-between mt-5 rounded-t-lg px-6 py-3 bg-[#3C3C45]">
                <h1 class="text-white text-base font-semibold tracking-wide">Add User</h1>
            </div>
            <div class="p-4">

                <form action="/user/add" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="profile_pic" class="block text-sm font-medium mb-2"> Profile Picture</label>
                        <input type="file" name="profile_pic" id="profile_pic" class="bg-white px-3 py-2.5 border border-gray-300 text-black block 
                        text-sm rounded-md w-[30%] focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"/>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                        <div>
                            <label for="full_name" class="block text-sm font-medium mb-2">Full Name</label>
                            <input type="text"name="full_name"id="full_name" class="bg-white px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-md w-full
                            focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"/>
                        </div>

                        <div>
                            <label for="gender" class="block text-sm font-medium mb-2">Gender</label>
                            <select name="gender" id="gender" class="bg-white px-3 py-2.5 border border-gray-300 text-black block text-sm rounded-md w-full
                                focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600">
                                <option value="">Select Gender</option>
                                {% for gender in genders %}
                                <option value="{{ gender.gender_id }}">{{ gender.gender }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="birth_date" class="block text-sm font-medium mb-2"> Birth Date</label>
                            <input  type="date" name="birth_date" id="birth_date" class="bg-white px-3 py-2.5 border border-gray-300
                            text-black block text-sm rounded-md w-fullfocus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"
                            />
                        </div>

                        <div>
                            <label for="address" class="block text-sm font-medium mb-2"> Address</label>
                            <input type="text" name="address" id="address" class="bg-white px-3 py-2.5 border border-gray-300
                            text-black block text-sm rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"/>
                        </div>

                        <div>
                            <label for="contact_number" class="block text-sm font-medium mb-2"> Contact Number</label>
                            <input type="Number"name="contact_number"id="contact_number" class="bg-white px-3 py-2.5 border border-gray-300
                            text-black block text-sm rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"/>
                        </div>

                        <div>
                            <label for="email" class="block text-sm font-medium mb-2"> Email</label>
                            <input type="email" name="email" id="email" class="bg-white px-3 py-2.5 border border-gray-300
                            text-black block text-sm rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"/>
                        </div>

                        <div>
                            <label for="password" class="block text-sm font-medium mb-2">Password</label>
                            <input type="password" name="password" id="password" class="bg-white px-3 py-2.5 border border-gray-300
                            text-black block text-sm rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"/>
                        </div>

                        <div>
                            <label for="username" class="block text-sm font-medium mb-2">Username</label>
                            <input  type="text" name="username" id="username" class="bg-white px-3 py-2.5 border border-gray-300
                            text-black block text-sm rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"/>
                        </div>

                        <div>
                            <label for="confirm_password" class="block text-sm font-medium mb-2">Confirm Password</label>
                            <input  type="password" name="confirm_password" id="confirm_password" class="bg-white px-3 py-2.5 border border-gray-300
                            text-black block text-sm rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600"/>
                        </div>

                    </div>

                    <div class="mt-6">
                        <button  type="submit" class="bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-md  transition duration-200" > Save User </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock 'content' %}