{% extends "layout/base.html" %}

{% block 'title' %} Delete User {% endblock 'title' %}

{% block 'content' %}
{% include "include/sidebar.html" %}
{% include "include/ToastMessage.html" %}
<div class="min-h-screen bg-[#A6A6B3] flex justify-center items-start pt-18 pl-64">
  <div class="bg-white shadow-lg rounded-2xl overflow-hidden border border-gray-100 h-155 w-full md:w-[90%] mx-auto">

    <div class="px-6 py-4 border-b bg-[#3C3C45]">
      <h1 class="text-white text-lg font-bold">Delete User </h1>
    </div>

    <div class="p-8">
      <form action="/user/delete/{{user.user_id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="bg-white p-1 rounded-lg shadow-md">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
            <div class="md:col-span-2">
              <div>
                  <label class="block mb-2 ml-7" >Profile Picture</label>
                  {% if user.profile_pic %}
                      <img src="{{ user.profile_pic.url }}" alt="Profile" class="w-24 h-24 object-cover rounded-full mb-2 ml-8 border">
                  {% endif %}
              </div>
              <label class="block text-xs mb-1 font-medium">Full Name</label>
              <input type="text" name="full_name" value="{{user.full_name}}" readonly class="w-70 border px-2 py-1 text-sm rounded-md">
            </div>

            <div>
              <label class="block text-xs mb-1 font-medium">Gender</label>
              <select name="gender" disabled class="w-70 border px-2 py-1 text-sm rounded-md">
                {% for gender in genders %}
                <option value="{{gender.gender_id}}"
                  {% if user.gender.gender_id == gender.gender_id %}selected{% endif %}>
                  {{gender.gender}}
                </option>
                {% endfor %}
              </select>
            </div>

            <div>
              <label class="block text-xs mb-1 font-medium">Birth Date</label>
              <input type="date" name="birth_date" value="{{user.birth_date|date:'Y-m-d'}}" readonly class="w-70 border px-2 py-1 text-sm rounded-md">
            </div>

            <div>
              <label class="block text-xs mb-1 font-medium">Address</label>
              <input type="text" name="address" value="{{user.address}}" readonly class="w-70 border px-2 py-1 text-sm rounded-md">
            </div>

            <div>
              <label class="block text-xs mb-1 font-medium">Contact Number</label>
              <input type="text" name="contact_number" value="{{user.contact_number}}" readonly class="w-70 border px-2 py-1 text-sm rounded-md">
            </div>

            <div>
              <label class="block text-xs mb-1 font-medium">Email</label>
              <input type="text" name="email" value="{{user.email}}" readonly class="w-70 border px-2 py-1 text-sm rounded-md">
            </div>

            <div>
              <label class="block text-xs mb-1 font-medium">User Name</label>
              <input type="text" name="username" value="{{user.username}}" readonly class="w-70 border px-2 py-1 text-sm rounded-md">
            </div>
          </div>
          
          <div class="flex justify-end mt-2 mb-3 mr-2">
            <a href="/user/list" class=" text-sm px-4 py-2 mr-2 bg-blue-600 text-white rounded-lg">Back</a>
            <button type="submit" class="text-sm px-4 py-2 bg-red-600 text-white rounded-lg">Delete User</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock 'content' %}